.about__section {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 8px;

  p {
    padding: 10px;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 18px;
  }

  h1 {
    font-family: "Creepster", cursive;
    color: $green;
    font-weight: lighter;
  }
  img {
    margin-top: 50px;
    width: 85%;
  }
  strong {
    color: $green;
  }
  iframe {
    border: 3px solid $green;
    border-radius: 10px;
    width: 90%;
    height: 250px;
  }

  @include desktop{
    iframe{
      width: 40%;
      height: 250px;
    }
    p{
      margin-left: 60px;
      margin-right: 60px;
    }
  }
  .about__footer {
    margin-top: 50px;
  }
}
