.episodes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;

  h1 {
    font-family: "Creepster", cursive;
    color: $green;
    font-weight: lighter;
    padding: 10px;
  }

  .episodes__card {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 14px;
    border-radius: 10px;
    color: $green;
    border: solid 3px $green;
    background-image: url("../../assets/images/banner.gif");
    background-position: center center;
    background-size: cover;

    span {
      color: $secondary-color;
    }

    h2 {
      padding: 10px;
      background-color: $transparent-color;
      border: solid 3px $green;
      border-radius: 10px;
      font-size: 26px;
      text-align: center;
      margin-bottom: 8px;
    }

    p {
      border: solid 3px $green;
      border-radius: 10px;
      padding: 10px;
      background-color: $transparent-color;
      font-weight: bold;
    }
  }
}
