.home__section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 8px;

  h2 {
    font-family: "Gemunu Libre", sans-serif;
    color: $secondary-color;
  }
  img {
    margin-top: 50px;
    width: 70%;
  }
  strong {
    color: $green;
  }
}
