.home__section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;

  h2 {
    font-family: "Gemunu Libre", sans-serif;
    color: $secondary-color;
  }
  img {
    width: 85%;
  }
}
