//Source: https://codepen.io/tonkec/pen/aRMaWR

.main__logo {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
  }
}
nav {
  position: sticky;
  height: auto;
  border-bottom: 3px solid $green;
  

  .nav_list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    border-top: 3px solid $green;
    padding-top: 10px;
     padding-bottom: 10px;
    padding-left: 20px;
    background-image: url("../../assets/images/backgroundgif.gif")
  }

    li {
      list-style: none;

      a {
        text-decoration: none;
        img {
          width: 60%;
        }
      
        &:hover {
        }
      }
    }
  }
 
