<nav>
  <div class="main__logo">
    <img src="../assets/icons/logo.png" alt="Rick and Morty Logo" />
  </div>
  <input type="checkbox" id="myInput" />
  <label for="myInput">
    <span class="bar top"></span>
    <span class="bar middle"></span>
    <span class="bar bottom"></span>
  </label>
  <aside>
    <div class="aside-section aside-right">
      <ul class="aside-list">
        <li><a type="checkbox" routerLink="/" class="aside-anchor">Home</a></li>
        <li><a routerLink="/characters" class="aside-anchor">Characters</a></li>
        <li><a routerLink="/planets" class="aside-anchor">Planets</a></li>
        <li><a routerLink="/episodes" class="aside-anchor">Episodes</a></li>
        <li><a routerLink="/about" class="aside-anchor">About</a></li>
      </ul>
    </div>
  </aside>
</nav>
