<div class="about__section">
  <h1>About</h1>
  <p>
    <strong>Rick and Morty</strong> is an American adult animated science
    fiction sitcom created by <strong>Justin Roiland</strong> and
    <strong>Dan Harmon</strong> for Cartoon Network's nighttime programming
    block, Adult Swim. The series follows the misadventures of cynical mad
    scientist <strong>Rick Sanchez</strong> and his good-hearted, but fretful
    grandson <strong>Morty Smith</strong>, who split their time between domestic
    life and interdimensional adventures.
  </p>
  <iframe
    src="https://www.youtube.com/embed/DLaqu2QJYPY"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <p class="about__footer">
    Created by <strong>Antonio Rosales</strong> x <strong>Upgrade Hub</strong>
  </p>
</div>
