//Rick & Morty Palette

$primary-color: rgb(25,24,29);
$secondary-color: rgb(227, 227, 227);
$third-color: rgb(66, 66, 66);
$transparent-color:rgba(25, 24, 29, 0.918); 

//Colors

$brown: rgb(32, 32, 32);
$cream: rgb(228, 167, 136);
$yellow: rgb(240, 225, 74);
$green: rgb(151, 206, 76);
$pink: rgb(232, 154, 199);
$blue: rgb(0,175,200);